/* Ogólne ustawienia */
body {
  margin: 0;
  height: 100vh;
  background-color: #FF64AC; /* Różowe tło */
  display: flex;
  flex-direction: column; /* Układ pionowy */
  justify-content: flex-start; /* Rozpoczynaj od góry */
  align-items: center;
  overflow: hidden;
}

/* Kontener na logo */
.logo-container {
  width: 100%;
  height: 70%; /* Logo zajmuje 70% ekranu */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Dopasowanie logo w obrębie kontenera */
}

.link {
  text-decoration: none;
  font-size: 20px;
  color: #FFFFFF; /* Różowy tekst */
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.2s ease;
  text-align: center;
}

.link:hover {
  background-color: rgba(0, 0, 0, 0.8); /* Ciemniejsze tło po najechaniu */
}

/* Styl napisu z efektem pisania */
.typing-text {
  position: absolute;
  top: 20px; /* Odległość od góry */
  right: 20px; /* Odległość od prawej */
  font-size: 24px; /* Rozmiar tekstu */
  color: #FFFFFF; /* Biały kolor tekstu */
  font-weight: bold; /* Pogrubienie */
  font-family: Arial, sans-serif; /* Prosty font */
  white-space: nowrap; /* Zapobiega łamaniu linii */
  overflow: hidden; /* Ukrywa tekst, który jeszcze nie jest "napisany" */
  border-right: 2px solid #FFFFFF; /* Animowany kursor */
  width: 0; /* Startowa szerokość tekstu */
  animation: typing 5s steps(70, end), blink-caret 0.5s step-end infinite; /* Efekty */
}

/* Efekt pisania */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%; /* Szerokość całego tekstu */
  }
}

/* Efekt mrugającego kursora */
@keyframes blink-caret {
  from {
    border-right-color: #FFFFFF;
  }
  to {
    border-right-color: transparent;
  }
}
